<div class="container-fluid">
  <div class="container">
    <h1>top#landing</h1>
    <div class="row">
      <div class="alert alert-primary col-md-3 text-center" role="alert"><h2>test font</h2></div>
      <div class="alert alert-success col-md-6 col-md-offset-3 text-center" role="alert"><h2>test font</h2></div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="btn btn-primary btn-lg ">button</div>
      <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-default">Default</button>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-info">Info</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-warning">Warning</button>
      <button class="btn btn-danger">Danger</button>
      <button class="btn btn-neutral">Neutral</button>
    </div>

    <div class="row">
      <div class="checkbox">
          <input id="checkbox1" type="checkbox">
          <label for="checkbox1">
              Unchecked
          </label>
      </div>

      <!-- Button trigger modal -->
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Launch demo modal
      </button>

      <!-- Modal Core -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-info btn-simple">Save</button>
            </div>
          </div>
        </div>
      </div>

      <i class="now-ui-icons users_single-02"></i>
      <i class="now-ui-icons ui-1_check"></i>
      <i class="now-ui-icons arrows-1_cloud-download-93"></i>
      <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Button with Tooltip</button>
      <button type="button" class="btn btn-default" data-toggle="popover" data-placement="top" title="Popover on top" data-content="Here will be some very useful information about his popover.">On top</button>
    </div>
  </div>
</div>

<div class="container">

  <ul class="bookmark-list">

    <li class="bookmark-item">
    <div class="bookmark-item-nav">
      <div class="bookmark-item-title">
        <h3>title</h3>
        <div class="bookmark-item-info">
          <dl>
            <dt>Date</dt>
            <dd>Data dd</dd>
            <dt>Stats</dt>
            <dd>Stats dd</dd>
            <dt>Action</dt>
            <dd>Action dd</dd>
          </dl>
        </div>
      </div>
    </div>
    </li>

  </ul>

</div>


<style>
/* now-ui-kit.css にも以下の記述あり*/
/* このコードを読み込むことで表示サイズを調整している*/
.now-ui-icons {
    display: inline-block;
    font: normal normal normal 32px/1 'Nucleo Outline';
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

</style>
