  <%# indexアクションで@medicinesのインスタンス変数を生成しているため、nilのインスタンスがページ読み込みと同時に作成されてしまう。%>
  <%# そのnilインスタンスをviewに表示させないために、unlessの条件式で表示するインスタンスを制御している %>


<div class="medicine-lists col-md-8 col-md-offset-2">

  <% medicines.each do |medicine| %>
    <% unless medicine.id.nil? %>

    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag medicine.medicine_img, class:"img-responsive" %>
        </div>

        <div class="panel-footer">
          <strong><%= medicine[:medicine_name] %></strong>
          <span class="text-right">
            <%= link_to "", medicine_path(medicine), method: :delete, data: {confirm:"Are you sure to delete?"}, class:"now-ui-icons ui-1_simple-remove" %></span>
          </span>
      	</div>
      </div>


    </div>


    <% end %>
  <% end %>
</div>
