<!-- <div class="container-fluid">

  <div class="container">
    <div class="row">
      <div class="title">
        <h1>medicines#new</h1>
      </div>
    </div>

  </div>

  <%= render 'form' %>

</div> -->
