<%# indexアクションで@allergiesのインスタンス変数を生成しているため、nilのインスタンスがページ読み込みと同時に作成されてしまう。%>
<%# そのnilインスタンスをviewに表示させないために、unlessの条件式で表示するインスタンスを制御している %>

<div class="allergy-lists col-md-8 col-md-offset-2">

    <!-- <div class="col-xs-6 col-sm-4 col-md-3"> -->

      <ul class="list-group">
        <% allergies.each do |allergy| %>
          <% unless allergy.id.nil? %>
          	<li class="list-group-item">
              <i class="now-ui-icons education_atom">&emsp;<strong><%= allergy[:allergy_name] %></strong></i>
              <span class="text-right">
                <%= link_to "", allergy_path(allergy), data: {confirm:"Are you sure to delete?"}, class:"now-ui-icons ui-1_simple-remove" %></span>
              </span>
            </li>
          <% end %>
        <% end %>

      </ul>

    <!-- </div> -->

</div>
